<!doctype html>
<!--[if lt IE 7]> <html class='no-js ie6 oldie' lang='en'> <![endif]-->
<!--[if IE 7]>    <html class='no-js ie7 oldie' lang='en'> <![endif]-->
<!--[if IE 8]>    <html class='no-js ie8 oldie' lang='en'> <![endif]-->
<!--[if gt IE 8]><!--> <html class='no-js' lang='en'> <!--<![endif]-->
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>

  {{! standard stuff. edit this. }}

  <title>Svalbard | Express Bootstrap</title>

  <meta name='description' content='Svalbard is a bootstrap framework to get you going with Node.'>
  <meta name='author' content='Jack Lawson. <jlawson@olivinelabs.com>'>

  <meta name='viewport' content='width=device-width,initial-scale=1'>

  <script src='/js/lib/modernizr-2.6.1.js'></script>

  {{!
    css is a field set by express.coffee's buildRequestData method. it uses
    the compressed and compiled less in production.
  }}

  {{{ css}}}

  {{!
    This allows you to insert things into the header from the template -
    it's probably bad practice if you're doing this, but there are *some*
    uses for it.
  }}

  {{> header }}
</head>

<body>
  {{!
    Content that will appear on all the pages.
  }}

  <header class='hero'>
    <div class='container'>
      <div class='row'>
        <div class='twelvecol'>
          <div class="hgroup">
            <h1><a href='http://thejacklawson.com/svalbard'>Svalbard</a></h1>
            <h2 class='visuallyHidden'>Express Bootstrap</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id='container' class='container'>
    {{!
      Content that will filled by your templates.
    }}

    {{> content }}
  </div>

  <footer class='copyright'>
    <div class='container'>
      <div class='row'>
        <div class='twelvecol'>
          <ul>
            <li>&copy; 2012 <a href="http://www.thejacklawson.com">Jack Lawson</a>
            <li><a href="http://opensource.org/licenses/mit-license.php">MIT Licensed</a>
            <li><a href="https://github.com/ajacksified/svalbard">Get it on Github</a>
          </ul>
        </div>
      </div>
    </div>  
  </footer>

  {{!
    Load from CDN, or from local if that fails.
  }}
  <script src="//code.jquery.com/jquery-1.8.2.min.js"></script>
  <script>window.jQuery || document.write('<script src="/public/js/jquery-1.8.2.min.js"><\/script>')</script>

  {{!
    Loads minified and compressed scripts in production, or whole files.
    Uses manifest from src/assets/js/app.coffee, with Sprockets-style compilation
    thanks to Mincer.
  }}
  {{{scripts}}}

  {{!
    Set your GA stuff in src/config/config.coffee.
  }}
  {{#googleAnalyticsId}}
    <script async type='text/javascript'>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{googleAnalyticsId}}']);
      {{#googleAnalyticsDomain}}_gaq.push(['_setDomainName', '{{googleAnalyticsDomain}}']);{{/googleAnalyticsDomain}}
      _gaq.push(['_setAllowHash', false]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  {{/googleAnalyticsId}}

  <!--[if lt IE 7 ]>
    <script src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js'></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

  {{!
    Just like the header - you can use this for page-specific javascript.
    You've probably put it into backbone, but just in case... here it is.
  }}
  {{> footer }}

  <!-- {{renderedAt}} -->
</body>
</html>

